
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Heebo", sans-serif;
}

h1 {
    color: white;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: rgb(124, 53, 64);
}

#navbar {
    background: linear-gradient(#eeeeee, #A9ACB0);
    /* background-color: #909092; */
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
}

.li-items a {
    display: block; 
    padding: 15px;
    color: #E08364;
}

.li-items a:hover {
    background-color: white;
    padding: 15px;
    /* color: aquamarine; */
    color: #0ECAC9;
}

#welcome-section {
    background-color: rgb(124, 53, 64);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Projects Section */

#projects {
    background-color: #eeeeee;
}

#projects-header {
    text-align: center;
    margin: 0px 0px 100px 0px;
    padding-top: 80px;
    color: #313131;
}

img {
    height: 350px;
    width: 350px;
}

#banner {
    width: 100%;
    height: 100vh;

    background-image: url("Images/seashore.jpg");
    background-size: cover;
    background-position: center;
}

#content {
    /* DEMO - Center text inside parent */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

figure {
}

.project-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cap {
    background-color: #0ECAC9;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: -7px 0px 70px 0px;
    padding: 20px;
}

/* Contact Section */

#contact {
    /* background-color:  rgb(124, 53, 64); */
    background: linear-gradient(#eeeeee, #A9ACB0);
}

#contact-header {
    text-align: center;
    padding: 100px 0px 100px 0px;
}

#contact-header h1 {
    color: #E08364;
}

#contact-links {
    text-align: center;
    margin-bottom: 20px;
    /*color: pink; */
}

#profile-link {
    color: white;
    padding: 0px 10px 30px 10px;
    font-size: 20px;
}

@media (max-width: 480px) {
    #profile-link {
      display: flex;
      flex-direction: column;
    }
}
#footer-separation {
    background-color: white;
    height: 1vh;
}

footer {
    text-align: center;
    padding: 40px 0px 30px 0px;
    color: white;
    background-color: #A9ACB0;
}