
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Heebo", sans-serif;
}

h1 {
    color: aquamarine;
}

a {
    text-decoration: none;
    color: rgb(124, 53, 64);
}

#navbar {
    background-color: slategray;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
}

.li-items a {
    display: block; 
    padding: 15px;

}

.li-items a:hover {
    background-color: white;
    padding: 15px;
    color: aquamarine;
}

#welcome-section {
    background-color: rgb(124, 53, 64);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Projects Section */

#projects {
    background-color: grey;
}

#projects-header {
    text-align: center;
    margin: 0px 0px 100px 0px;
    padding-top: 100px;
}

img {
    height: 350px;
    width: 350px;
}

figure {
}

.project-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cap {
    background-color: rgb(124, 53, 64);
    color: honeydew ;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: -7px 0px 70px 0px;
    padding: 20px;
}

/* Contact Section */

#contact {
    background-color:  rgb(124, 53, 64);
}

#contact-header {
    text-align: center;
    padding: 100px 0px 100px 0px;
}

#contact-links {
    text-align: center;
    margin-bottom: 20px;
    /*color: pink; */
}

#profile-link {
    color: white;
    padding: 0px 10px 30px 10px;
}

@media (max-width: 480px) {
    #profile-link {
      display: flex;
      flex-direction: column;
    }
}
#footer-separation {
    background-color: antiquewhite;
    height: 1vh;
}

footer {
    text-align: center;
    padding: 40px 0px 30px 0px;
    color: white;
}