* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../Images/tri-cao-2MNAkU-UKYQ-unsplash.jpg");
    font-family: 'Mulish', sans-serif;
}

h1 {
    margin: 20px 0px 40px 0px;
    text-align: center;
    color: white;
}
img {
    height: 200px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

figcaption {
    text-align: center;
    margin-bottom: 30px;
    background-color: gray;
    margin-top: -4px;
    padding: 10px;
    color: white;
}

img, figcaption {
    box-shadow: 3px 3px black;
}

div {
    background-color: black;
    height: 200px;
}

/* figure {
    margin: 20px;
} */