* {
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 250px;
    width: 100%;
    background-image: url(Images/AmericanFlag_good.jpg);
    background-size: cover;
    margin-bottom: 15px;
}

header h1 {
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(222, 222, 228);
}

.sen-sub {
    color: white;
}

.sub-header {
    display: flex;
    justify-content: space-around;
}

.membersGrid {
    display: flex;
    flex-wrap: wrap;
}

.figElement {
    margin: 20px;
    border: 1px solid black;
}

figure {
    width: 100px;
}

figcaption {
    text-align: center;
}

.repub {
    border: 2px solid red;
    background-color: rgb(225, 0, 0, 0.2);
    padding: 5px;
    margin: 10px;
}

.democ {
    border: 2px solid blue;
    background-color: rgb(0, 0, 225, 0.2);
    padding: 5px;
    margin: 10px;
}

.other {
    border: 2px solid purple;
    background-color: rgb(128, 0, 128, 0.2);
    padding: 5px;
    margin: 10px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.senior {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.senior .seniorityRep {
    margin-left: -60px;
    color: rgb(14, 14, 78);
}

.senior .senioritySen {
    margin-left: -45px;
    color: rgb(14, 14, 78);
}

.senButtons {
    margin-top: 20px;
}

.senButtons .republicansSen {
    margin: 0px 10px 10px 185px;
    color: red;
}

.senButtons .democratsSen {
    color: blue;
}

.senButtons .othersSen {
    margin: 0px 0px 10px 10px;
    color: purple;
}

.senButtons .republicansRep {
    margin: 0px 10px 10px 445px;
    color: red;
}

.senButtons .democratsRep {
    color: blue;
}

