* {
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 250px;
    width: 100%;
    background-image: url(Images/AmericanFlag_good.jpg);
    background-size: cover;
    margin-bottom: 15px;
}

header h1 {
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(222, 222, 228);
}

.sen-sub {
    color: white;
}

.sub-header {
    display: flex;
    justify-content: space-around;
}

.sen-sub {
    padding-left: 35px;
}

.rep-sub {
    padding-left: 35px;
}

.membersGrid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.figElement {
    margin: 20px;
}

figure {
    width: 100px;
}

figcaption {
    text-align: center;
}

.repub {
    border: 2px solid rgb(165, 0, 0);
    background-color: rgb(165, 0, 0, 0.2);
    padding: 5px;
    margin: 10px;
}

.democ {
    border: 2px solid rgb(14, 16, 71);
    background-color: rgb(14, 16, 71, 0.2);
    padding: 5px;
    margin: 10px;
}

.other {
    border: 2px solid rgb(83, 10, 83);
    background-color: rgb(83, 10, 83, 0.2);
    padding: 5px;
    margin: 10px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 2px gray;
}

.senior {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* .senioritySen {
    border: 1px solid black;
}

.seniorityRep {
    border: 1px solid black;
} */

div .sortButtons {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}

div .senSort {
    display: flex;   
}

div .repsSort {
    display: flex;
}

.republicansSen {
    margin-right: 5px;
    color: rgb(165, 0, 0);
    /* border: 1px solid rgb(165, 0, 0); */
}

.democratsSen {
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(14, 16, 71);
    /* border: 1px solid rgb(14, 16, 71); */
}

.othersSen {
    margin-left: 5px;
    color: rgb(83, 10, 83);
    /* border: 1px solid rgb(83, 10, 83); */
}

.republicansRep {
    margin-right: 5px;
    color: rgb(165, 0, 0);
    /* border: 1px solid rgb(165, 0, 0); */
}

.democratsRep {
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(14, 16, 71);
    /* border: 1px solid rgb(14, 16, 71); */
}

.othersRep {
    margin-left: 5px;
    color: rgb(83, 10, 83);
    /* border: 1px solid rgb(83, 10, 83); */
}


